
@keyframes scrol {
    from {
        top: 0;
    }
    25% {
        top: -27px;
    }
    50% {
        top: -54px;
    }
    75% {
        top: -81px;
    }
    to {
        top: -108px;
    }
}

.wrapper {
    width: 500px;
    height: 500px;

    background-color: orange;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 500px;
    text-align: center;
}

.list_wrapper {
    display: inline-block;
    height: 27px;

    line-height: normal;
    overflow: hidden;
    text-align: left;
}

.list {
    position: relative;
    top: 0;
    
    animation: scrol 7s infinite ease-in-out;
    font-weight: bold;
}