$red1: #820124;
$red2: #ab012f;

.book {
    width: 300px;
    height: 420px;
    position: relative;
    left: 30px;
    top: 30px;

    font-family: 'Open Sans', sans-serif;
    color: white;
    background: linear-gradient(to top right, #1c1c1c, #4d4e50);
    border-radius: 2px;
    box-shadow: 0 5px 15px #939496, inset 35px 0 30px -5px #1e1e1e;

    &:before {
        content: '';
        position: absolute;
        width: 14px;
        top: 0;
        bottom: 0;

        background: linear-gradient(to top, #313234, #4e4f51);
        box-shadow: inset 10px 0 15px -5px rgba(0, 0, 0, 0.5);
        border-radius: 2px 0 0 2px;
    }

    &:after {
        content: '';
        position: absolute;
        width: 17px;
        top: -2px;
        bottom: -2px;
        right: 30px;

        background: repeating-linear-gradient(to right, $red1, $red1 5px, $red2 5px, $red2 6px,$red1 6px, $red1 11px, $red2 11px, $red2 12px, $red1 12px, $red1 17px);
        border-radius: 2px;
        box-shadow: -5px 0 2px -2px rgba(0, 0, 0, 0.4);
    }
}

h1 {
    margin: 0 auto;
    width: 200px;
    padding-top: 120px;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

p {
    margin: 0 auto;
    width: 200px;
    font-style: italic;
}
