$brown: #92806a;
$white: #e2e1b5;

.wrapper {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: #51835d;
}

.head {
    width: 210px;
    height: 223px;
    position: absolute;
    top: calc(50% - 105px);
    left: calc(50% - 105px);
    perspective: 400px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        border-radius: 60px 60px 0 0;
        background-color: $brown;
        transform: rotateX(10deg);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

.ear {
    width: 90px;
    height: 90px;
    position: absolute;
    left: -30px;
    top: -15px;
    z-index: -1;

    background-color: $brown;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    &.second {
        left: auto;
        right: -24px;
        top: -30px;
    }

    &:after {
        content: '';
        position: absolute;
        left: 20px;
        top: 20px;
        right: 20px;
        bottom: 20px;

        background-color: $white;
        border-radius: 100%;
    }
}

.hair {
    width: 3px;
    height: 15px;
    position: absolute;
    left: calc(50% - 1.5px);
    top: 20px;

    background-color: $white;
    border-radius: 3px;
    transform: skewX(-20deg);

    &:before, &:after {
        content: '';
        width: 3px;
        height: 15px;
        position: absolute;
        left: -5px;

        background-color: $white;
        border-radius: 3px;
    }
    &:after {
        left: 5px;
    }
}

.face {
    width: 90px;
    height: 110px;
    position: absolute;
    left: 60px;
    top: 60px;

    background-color: $white;
    border-radius: 40px 40px 30px 30px / 50px 50px 30px 30px;
}

.eye {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 0;
    left: -5px;

    background-color: black;
    border-radius: 100%;

    &.second {
        right: -5px;
        left: auto;
    }

    &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 2px;
        top: 3px;
        right: 4px;

        background-color: white;
    }
}

.nose {
    width: 50px ;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 20px;

    border-radius: 19px / 15px;
    background-color: black;

    &:after {
        content: '';
        position: absolute;
        top: 10px;
        right: 12px;
        width: 10px;
        height: 3px;

        background-color: white;
    }
}

.mouth {
    width: 5px;
    height: 18px;
    position: absolute;
    left: calc(50% - 2.5px);
    top: 55px;

    background-color: black;

    &:before, &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        left: 0;
        top: -2px;

        border-radius: 100%;
        border: black solid 5px;
        border-top-color: transparent;
        border-right-color: transparent;
        transform: rotateZ(-45deg);
    }
    &:after {
        left: auto;
        right: 0;
    }
}
